          <div class="col-md-12">
            <div class="row">
              <div class="col-md-8">
                <div class="box box-info">
                  <div class="box-header with-border">
                    <h3 class="box-title">Đơn hàng mới nhất</h3>

                  </div>
                  <!-- /.box-header -->
                  <div class="box-body">
                    <div class="table-responsive">
                      <table class="table no-margin">
                        <thead>
                          <tr>
                            <th>ID đơn hàng</th>
                            <th>Sản phẩm</th>
                            <th>Trạng thái</th>
                            <th>Người đặt</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <a href="pages/examples/invoice.html">OR9842</a>
                            </td>
                            <td>Call of Duty IV</td>
                            <td>
                              <span class="label label-success">Đã giao</span>
                            </td>
                            <td>
                              Vũ Minh Trí
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a href="pages/examples/invoice.html">OR1848</a>
                            </td>
                            <td>Samsung Smart TV</td>
                            <td>
                              <span class="label label-warning">Đơn hàng tạm dừng</span>
                            </td>
                            <td>
                                Vũ Minh Trí
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a href="pages/examples/invoice.html">OR7429</a>
                            </td>
                            <td>iPhone 6 Plus</td>
                            <td>
                              <span class="label label-danger">Đã huỷ</span>
                            </td>
                            <td>
                                Vũ Minh Trí
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a href="pages/examples/invoice.html">OR7429</a>
                            </td>
                            <td>Samsung Smart TV</td>
                            <td>
                              <span class="label label-info">Đang giao</span>
                            </td>
                            <td>
                                Vũ Minh Trí
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a href="pages/examples/invoice.html">OR1848</a>
                            </td>
                            <td>Samsung Smart TV</td>
                            <td>
                              <span class="label label-warning">Đơn hàng tạm dừng</span>
                            </td>
                            <td>
                                Vũ Minh Trí
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a href="pages/examples/invoice.html">OR7429</a>
                            </td>
                            <td>iPhone 6 Plus</td>
                            <td>
                              <span class="label label-danger">Đã huỷ</span>
                            </td>
                            <td>
                              <div class="sparkbar" data-color="#f56954" data-height="20">
                                <canvas width="34" height="20" style="display: inline-block; width: 34px; height: 20px; vertical-align: top;"></canvas>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a href="pages/examples/invoice.html">OR9842</a>
                            </td>
                            <td>Call of Duty IV</td>
                            <td>
                              <span class="label label-success">Đã giao</span>
                            </td>
                            <td>
                              <div class="sparkbar" data-color="#00a65a" data-height="20">
                                <canvas width="34" height="20" style="display: inline-block; width: 34px; height: 20px; vertical-align: top;"></canvas>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- /.table-responsive -->
                  </div>
                  <!-- /.box-body -->
                  <div class="box-footer clearfix">
                    <!-- <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a> -->
                    <a href="/admin/order/list" class="btn btn-sm btn-default btn-flat pull-right">Xem tất cả đơn hàng</a>
                  </div>
                  <!-- /.box-footer -->
                </div>

              </div>
              <div class="col-md-4">
                <div class="box box-primary">
                  <div class="box-header with-border">
                    <h3 class="box-title">Nhà sản xuất mới</h3>

                    <!-- <div class="box-tools pull-right">
                      <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                      </button>
                      <button type="button" class="btn btn-box-tool" data-widget="remove">
                        <i class="fa fa-times"></i>
                      </button>
                    </div> -->
                  </div>
                  <!-- /.box-header -->
                  <div class="box-body">
                    <ul class="products-list product-list-in-box">
                      {{#each brands}}
                      <li class="item">
                        <div class="product-img">
                          {{#if this.image_brand}}
                          <img src="{{this.image_brand}}" alt="Product Image">
                          {{else}}
                          <img src="/admin/images/default-50x50.gif" alt="Product Image">
                          {{/if}}
                        </div>
                        <div class="product-info">
                          <a href="/admin/brand/edit/{{this.id}}" class="product-title">
                            {{this.name}}
                          </a>
                          <span class="product-description">
                            {{this.description}}
                          </span>
                        </div>
                      </li>
                      {{/each}}
                    </ul>
                  </div>
                  <!-- /.box-body -->
                  <div class="box-footer text-center">
                    <a href="/admin/brand/list" class="uppercase">Xem tất cả loại nhà sản xuất</a>
                  </div>
                  <!-- /.box-footer -->
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                  <div class="box box-info">
                    <div class="box-header with-border">
                      <h3 class="box-title">Danh sách sản phẩm mới<meta http-equiv="X-UA-Compatible" content="IE=7"></h3>
  
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                      <div class="table-responsive">
                        <table class="table no-margin">
                          <thead>
                            <tr>
                              <th>ID sản phẩm</th>
                              <th>Tên sản phẩm</th>
                              <th>Loại sản phẩm</th>
                              <th>Giá bán</th>
                            </tr>
                          </thead>
                          <tbody>
                            {{#each products}}
                            <tr>
                              <td>
                                <a href="/admin/product/edit/{{this.id}}">{{this.id}}</a>
                              </td>
                              <td>{{this.name}}</td>
                               <td>{{this.catename}}</td>
                              <td>
                                {{this.price}}
                              </td>
                            </tr>
                            {{/each}}
                          </tbody>
                        </table>
                      </div>
                      <!-- /.table-responsive -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                      <a href="/admin/product/new" class="btn btn-sm btn-info btn-flat pull-left">Tạo sản phẩm mới</a>
                      <a href="/admin/product/list" class="btn btn-sm btn-default btn-flat pull-right">Xem tất cả sản phẩm</a>
                    </div>
                    <!-- /.box-footer -->
                  </div>
  
                </div>
                <div class="col-md-4">
                  <div class="box box-primary">
                    <div class="box-header with-border">
                      <h3 class="box-title">Loại sản phẩm mới</h3>
  
                      <!-- <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                          <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove">
                          <i class="fa fa-times"></i>
                        </button>
                      </div> -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                      <ul class="products-list product-list-in-box">
                        {{#each cates}}
                        <li class="item">
                          <div class="product-img">
                            <img src="/admin/images/default-50x50.gif" alt="Product Image">
                          </div>
                          <div class="product-info">
                            <a href="/admin/category/edit/{{this.id}}" class="product-title">
                            {{this.name}}
                            </a>
                            <span class="product-description">
                              {{this.description}}
                            </span>
                          </div>
                        </li>
                        {{/each}}
                        <!-- /.item -->
                      </ul>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer text-center">
                      <a href="/admin/category/list" class="uppercase">Xem tất cả loại sản phẩm</a>
                    </div>
                    <!-- /.box-footer -->
                  </div>
                </div>
              </div>
          </div>
          <!-- /.box -->