<div class="col-md-12">
            <div class="row">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Danh sách loại sản phẩm</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row">
                      <div class="col-sm-6"></div>
                      <div class="col-sm-6"></div>
                    </div>
                    <div class="row">
                      
                      <div class="col-sm-12">
                        {{#if message}}
                          <div class="alert alert-success">{{message}}</div>
                      {{/if}}
                      {{#if messageDestroy}}
                          <div class="alert alert-danger">{{messageDestroy}}</div>
                      {{/if}}
                        <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                          <thead>
                            <tr role="row">
                              <th rowspan="1" colspan="1">Mã nhà sản xuất</th>
                              <th rowspan="1" colspan="1">Tên nhà sản xuất</th>
                              <th rowspan="1" colspan="1">Đường dẫn</th>
                              <th rowspan="1" colspan="1">Thao tác</th>
                            </tr>
                          </thead>
                          <tbody>
                            {{#each list}}
                              <tr role="row" class="even">
                                  <td>{{this.id}}</td>
                                  <td>{{this.name}}</td>
                                  <td>{{this.alias}}</td>
                                  <td>
                                    <a href="/admin/brand/edit/{{this.id}}" class="label label-success">Sửa</button>
                                    <a onclick="confirm('Bạn chắc chắn muốn xoá: {{this.name}}?');" href="/admin/brand/delete/{{this.id}}" class="label label-danger">Xoá</button>
                                  </td>
                                </tr>
                            {{/each}}
                          </tbody>
                          <tfoot>
                            <tr>
                              <th rowspan="1" colspan="1">Mã nhà sản xuất</th>
                              <th rowspan="1" colspan="1">Tên nhà sản xuất</th>
                              <th rowspan="1" colspan="1">Đường dẫn</th>
                              <th rowspan="1" colspan="1">Thao tác</th>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                    </div>
                    
                  </div>
                </div>
                <!-- /.box-body -->
              </div>
            </div>
          </div>