	<header class="header">

		<!-- Top Bar -->

		<div class="top_bar">
			<div class="container">
				<div class="row">
					<div class="col d-flex flex-row">
						<div class="top_bar_content ml-auto">
							<div class="top_bar_user">
								<div class="user_icon"><img src="//user/images/user.svg" alt=""></div>
								{{#if user}}
									<div><a href="user.html">{{user.name}}</a></div>
								{{else}}
									<div><a href="#" data-toggle="modal" data-target="#myModal" id="registerBtn">Đăng ký</a></div>
									<div><a href="#" data-toggle="modal" data-target="#myModal" id="loginBtn">Đăng nhập</a></div>
								{{/if}}
								
							</div>
						</div>
					</div>
				</div>
			</div>		
		</div>

		<!-- Header Main -->
		<form action="/products" method="post">
			<div class="header_main">
				<div class="container">
					<div class="row">

						<!-- Logo -->
						<div class="col-lg-2 col-sm-12">
							<div class="logo_container">
								<div class="logo"><a href="#">Webteam</a></div>
							</div>
						</div>

						<!-- Search -->
						<div class="col-lg-6 col-sm-12 text-sm-left text-right">
							<div class="header_search">
								<div class="header_search_content">
									<div class="header_search_form_container">
										<div action="#" class="header_search_form clearfix">
											<input type="search" required="required" class="header_search_input" placeholder="Tìm kiếm sản phẩm..." id="productName" name="productName" value="{{filters.productName}}">
											<div class="custom_dropdown">
												<div class="custom_dropdown_list">
													<span class="custom_dropdown_placeholder clc">
														{{#if filters.categoryId}}
															{{#each categories}}
																{{#ifCond ../filters.categoryId '==' this.id}}
																	{{this.name}}
																{{/ifCond}}
															{{/each}}
														{{else}}
															Tất cả danh mục
														{{/if}}
														
														
													</span>
													<input type="hidden" name="categoryId" id="categoryId" value="{{filters.categoryId}}">
													<i class="fas fa-chevron-down"></i>
{{!-- 												<select name="config[mode]" class="custom_list clc">    
													    <option value="Ba lô" ><a class="clc">Ba Lô</a></option>
													    <option value="Túi xách" ><a class="clc">Túi xách</a></option>    
													  </select> --}}
													<ul class="custom_list clc">
														{{#each categories}}
															<li><a class="clc" href="#" data-id="{{this.id}}">{{this.name}}</a></li>
														{{/each}}
														
														{{!-- <li><a class="clc" href="#">Túi Xách</a></li> --}}
													</ul>
												</div>
											</div>
											<button type="submit" class="header_search_button trans_300" value="Submit" id="product_search"><img src="/user/images/search.png" alt=""></button>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Wishlist -->
						<div class="col-lg-2 col-sm-6 text-sm-left text-right">
						    <div class="wishlist_cart d-flex flex-row align-items-center">
						        							<button type="button" class="btn btn-circle" data-toggle="collapse" data-target="#lookup-detail" style="color: white;" title="" id="expand" data-original-title="Mở rộng tìm kiếm" aria-expanded="true"><i class="fas fa-arrow-down"></i>
															
													</button>
							</div>
						</div>
						<div class="col-lg-2 col-sm-6 text-sm-left text-right">
							<div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
								<!-- Cart -->
								<div class="cart">
									<div class="cart_container d-flex flex-row align-items-center justify-content-end">
										<div class="cart_icon">
											<img src="/user/images/cart.png" alt="">
											<div class="cart_count"><p class="cart_counts">0</p></div>
										</div>
										<div class="cart_content">
											<div class="cart_text"><a href="/cart">Giỏ hàng</a></div>
											{{!-- <div class="cart_price">85,000đ</div> --}}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
    {{> lookup-detail}}

</form>
		
		<!-- Main Navigation -->

		<nav class="main_nav">
			<div class="container">
				<div class="row">
					<div class="col">
						
						<div class="main_nav_content d-flex flex-row">

							<!-- Categories Menu -->

							<div class="cat_menu_container">
								<div class="cat_menu_title d-flex flex-row align-items-center justify-content-start">
									<div class="cat_burger"><span></span><span></span><span></span></div> 
									<div class="cat_menu_text">Danh mục</div>
								</div>

								<ul class="cat_menu">
									
										{{#each categories}}
											<li class="hassubs">
											<a href="#">{{this.name}}<i class="fas fa-chevron-right"></i></a>
												<ul>
													{{#each children}}
														<li><a href="/products?subCategoryId={{this.id}}">{{this.name}}<i class="fas fa-chevron-right"></i></a></li>
													{{/each}}													
												</ul>
											</li>
										{{/each}}
										
									
								</ul>
							</div>

							<!-- Main Nav Menu -->

							<div class="main_nav_menu ml-auto">
								<ul class="standard_dropdown main_nav_dropdown">
									<li><a href="#">Trang chủ<i class="fas fa-chevron-down"></i></a></li>
								</ul>
							</div>

							<!-- Menu Trigger -->

							<div class="menu_trigger_container ml-auto">
								<div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
									<div class="menu_burger">
										<div class="menu_trigger_text">menu</div>
										<div class="cat_burger menu_burger_inner"><span></span><span></span><span></span></div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</nav>
		
	</header>