<link rel="stylesheet" type="text/css" href="/user/styles/product_styles.css">
<link rel="stylesheet" type="text/css" href="/user/styles/product_responsive.css">
            <div class="single_product">
        <div id="content" class="clearfix">

            <div class="container">

                <div class="row">

                    <!-- *** LEFT COLUMN ***
             _________________________________________________________ -->

                            <div class="col-md-9" id="customer-orders">
                      <!-- <div class="infor-order"> -->
                          <h4 class="infor-detail"><b>Mã đơn hàng: </b>#{{order.orderid}}</h4>
                          <h4 class="infor-detail"><b>Ngày đặt: </b>{{dateFormat order.timeorder}}</h4>
                          <h4 class="infor-detail"><b>Tổng cộng: </b>{{order.total}} đ</h4>
                      <!-- </div> -->
                        <table class="table display" style="width:100%" id="user-order">
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>Sản phẩm</th>
                                    <th>Số lượng</th>
                                    <th>Đơn giá</th>
                                    <th>Thành tiền</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each products}}
                                    <tr>
                                        <th>
                                            <div class="detail_item_image">
                                              <img src="{{this.image}}" alt="">
                                            </div>
                                        </th>
                                        <td>{{this.product_name}}</td>
                                        <td>{{this.quantity}}</td>
                                        <td>{{this.unit_price}} đ</td>
                                        <td>{{this.bought_price}} đ</td>                    
                                        <td><a href="/product/{{this.product_id}}" class="btn btn-primary">Chi tiết</a></td>
                                    </tr>

                                {{/each}}
                                
                            </tbody>
                        </table>
                            <!-- /.table-responsive -->
                    </div>
                    {{> user}}

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

    </div>

    

