            <div class="single_product">
        <div id="content" class="clearfix">

            <div class="container">

                <div class="row">

                    <!-- *** LEFT COLUMN ***
             _________________________________________________________ -->

                    <div class="col-md-9" id="customer-orders">
                        <h3>Danh sách các đơn hàng</h3>
                        <p class="text-muted lead">Nếu có bất cứ thắc mắc nào, xin vui lòng <a href="contact.html">liên hệ chúng tôi</a>, hệ thống chăm sóc khách hàng luôn sẵn sàng 24/7.</p>
                             <table class="table table-bordered display" style="width:100%" id="user-order">
                                    <thead>
                                        <tr>
                                            <th>Mã số</th>
                                            <th>Ngày đặt</th>
                                            <th>Tổng cộng</th>
                                            <th>Tình trạng</th>
                                            <th>Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each products}}
                                            <tr>
                                                <th># {{this.id}}</th>
                                                <td>{{this.createdDate}}</td>
                                                <td>$ {{this.total}}</td>
                                                {{#if this.beingDelivered}}
                                                <td><span class="label label-info">Đang giao hàng</span>
                                                </td>
                                                {{else if this.isDelivered}}
                                                    <td><span class="label label-success">Đã giao</span>
                                                    </td>
                                                {{else if this.isCancelled}}
                                                    <td><span class="label label-danger">Đã hủy</span>
                                                    </td>
                                                {{else}}
                                                    <td><span class="label label-warning">Đang xử lý</span>
                                                    </td>
                                                {{/if}}
                                                <td><a href="user-order-detail.html" class="btn btn-primary">Chi tiết</a>
                                                </td>
                                            </tr>
                                        {{/each}}
                                        
                                    </tbody>
                                </table>
                            <!-- /.table-responsive -->
                    </div>
                    {{> user}}

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

    </div>

    

